# Proiect Flutter / Dart
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Fișiere specifice Android
# -----------------------
*.keystore
*.jks
local.properties
.gradle/

# Fișiere specifice iOS / macOS (Xcode)
# -----------------------
*/.xcworkspace
**/xcuserdata/
**/Pods/
DerivedData/
.lsbundle/

# Fișiere de sistem macOS
# -----------------------
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDE-uri (VS Code & IntelliJ)
# -----------------------
.vscode/
.idea/
*.im